/*** Hamag OK Classic shop custom css ***/

a,
input,
span,
h1,h2,h3,h4,p, label,
.searchContent #ucInfoMessagebdy {
    font-family: 'Open Sans', sans-serif !important;
}

#outerBdy {
    background-image: url('/images/editor/images/body_bg.png');
    background-repeat: repeat-x;
    background-position: top center;
    background-color: #f3f2f2;
    height:auto;
    min-height:100%!important;
    position:relative;
    padding-bottom:280px;
}

/* TODO: Minor fix for now */
.contentPane div#postcontentContainer{
  display:none;
}

html,
body,
form#aspnetForm{
  height:100%!important;
  min-height:100%!important;
}

#quickNavBar div a {
    color: #d9d9d9;
    background: url('/images/editor/images/breadcrumb_arrow.png') no-repeat 0 50%;
    padding: 0 0 0 25px;
    margin: 0 10px 0 0;
    line-height: 37px;
    font-weight: normal;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
}

#quickNavBar div a:first-child {
    padding-left: 21px;
    text-indent: -9999px;
    background: url('/images/editor/images/home-img.png') no-repeat 0 50%;
    background-position: 15px 11px;
    width: 19px;
    height: 37px;
    text-align: center;
}

#BroadTopMenu {
    min-height: 44px;
}

#topbanner,
#rightTop {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

#rightTop {
    text-align: right;
    width: 69%;
    padding: 4px 0px 0px 0px;
}

#rightTop > div {
    display: inline-block;
    vertical-align: middle;
}

#topbanner a {
    display: inline-block;
    padding: 27px 0 25px 14px;
}

a.homeButton {
    background-color: #155591;
    width: 59px;
    display: inline-block;
    text-align: center;
    border-right: solid 1px #0c355b;
    border-left: solid 1px #0c355b;
}

a.homeButton i {
    line-height: 51px;
    color: #fefeff;
    font-size: 24px;
}

#topMenu > div {
    display: inline-block;
    vertical-align: top;
}

#quickNavBar {
    width: 100%;
    min-height: 38px;
}

#main #pMenuToplevell0 a {
    padding: 0px 22px !important;
    line-height: 51px;
    color: #ffffff !important;
    font-size: 20px !important;
    border: medium none !important;
    text-decoration: none !important;
    border-right: solid 1px #0c355b !important;
    text-transform: uppercase;
    display: inline-block;
}

#main #pMenuToplevell0 a:hover {
    background-color: #0c4880;
}

#main #SearchBoxbdy {
    position: relative;
    margin-right: 90px;
    width: 370px;
}

#main #SearchBoxbdy input[type="button"] {
    position: absolute;
    top: 0px;
    right: -80px;
    width: 83px;
    border: medium none;
    border-radius: 4px !important;
    height: 44px;
    min-height: 44px;
    padding: 0px;
    font-size: 19px;
    padding-left: 21px;
    color: #FFFFFF;
    background-image: url('/images/editor/images/search.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    text-align: center;
    margin: 0px !important;
    cursor: pointer;
}

#main #SearchBoxbdy input.textbox {
    margin: 0 !important;
    padding-left: 6px !important;
    width: 100% !important;
    line-height: 42px;
    border: solid 1px #707170 !important;
    border-radius: 4px 0 0 4px !important;
    background-color: #FFFFFF !important;
    color: #a09f9f !important;
    font-size: 16px !important;
    text-align: left !important;
}

.miniBasketBdy {
    min-width: 185px;
    position: relative;
    margin-right: 7px;
}

.miniBasketBdy img {
    float:left;
}

.miniBasketBdy a {
    background: #999999;
    background: -moz-linear-gradient(top, #999999 0%, #666766 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#666766));
    background: -webkit-linear-gradient(top, #999999 0%,#666766 100%);
    background: -o-linear-gradient(top, #999999 0%,#666766 100%);
    background: -ms-linear-gradient(top, #999999 0%,#666766 100%);
    background: linear-gradient(to bottom, #999999 0%,#666766 100%);
    border-radius: 4px;
    padding: 9px 9px 9px 7px;
    text-align: left;
    position: relative;
    display: block;
    text-decoration: none;
}

.miniBasketBdy a .miniBasketItemCount {
    background: #21d83a;
    background: -moz-linear-gradient(top, #21d83a 0%, #209f32 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#21d83a), color-stop(100%,#209f32));
    background: -webkit-linear-gradient(top, #21d83a 0%,#209f32 100%);
    background: -o-linear-gradient(top, #21d83a 0%,#209f32 100%);
    background: -ms-linear-gradient(top, #21d83a 0%,#209f32 100%);
    background: linear-gradient(to bottom, #21d83a 0%,#209f32 100%);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    width: 35px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    left: 24px;
    top: -12px;
    border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    line-height: 35px;
}

.miniBasketBdy a .miniBasketText {
    color: #e0dfdf;
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    padding-left: 30px;
    line-height: 12px;
    float: left;
 }

.miniBasketBdy a .miniBasketHeading {
    display: block;
    font-size: 12px;
    font-weight: normal;
}

.inner-wrap{
  min-height:100%;
  padding-bottom:50px;
}

#leftPane,
.contentPane {
    display: inline-block;
    vertical-align: top;
    width: 24.8%;
    margin: 0 !important;
    padding: 0 !important;
}

.contentPane {
    width: 74.8%;
    background: #ffffff;
    position: relative;
    left: -4px;
}

.fullcontentBdy .contentPane {
    width: 100%;
}

.contentOuterBdy {
    text-align: left;
    width: 100%;
}


/* Footer Area */
#bottom{
  position:absolute;
  bottom:0;
  overflow:hidden;
  width:100%;
  min-height:200px;
  background:#fff;
  border-top:1px solid #eae9e9;
}

#infoMenu2h2{
  display:none;
}

.section-bottom{
  margin:0 auto;
  text-align:left;
  overflow:hidden;
  width:1200px;
  font-size: 12px;
  font-family: Tahoma, Arial, sans-serif;
  color: #666666;
}

.section-bottom h4{
  margin: 0 0 8px 0;
  font-weight: bold;
  font-size: 16px;
  color: #666666;
}

.section-bottom ul{
  list-style:none;
  line-height:20px;
}

.section-bottom a{
  font-size: 12px;
  font-family: Tahoma, Arial, sans-serif;
  color: #666666;
  text-decoration:none;
}

.section-bottom a:hover{
  text-decoration:underline;
}

.bottom-social img{
  float:left;
  height:30px;
  width:30px;
  margin-right:8px;
}

.section-spacer{
  display:block;
  height:40px;
}

.column-4{
  height:100%;
  float:left;
  width:25%;

}

.bottom-content{
  border-right:1px solid #eceaea;
  padding:15px;
  min-height:200px;
}

.bottom-contact.bottom-content{
  border-right:0;
}

.bottom-content p{
  margin:0;
}

.bottom-phonenumber{
  display: block;
  font-size: 24px;
  font-family: Tahoma, Arial, sans-serif;
  font-weight:bold;
}

#pMenuSublevels #pMenuSublevelsh2 {
    background: #0f416f;
    color: #ffffff;
    line-height: 40px;
    margin: 0;
    text-transform: uppercase;
    text-align: left;
    padding: 0 0 0 10px;
    font-size: 18px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.82);
    clear: both;
    font-weight: normal;
}

#pMenuSublevels #pMenuSublevelsbdy {
    border-left: 1px solid #d0cfcf;
    background: #fff;
}

#pMenuSublevels #pMenuSublevelsbdy ul li a {
    color: #666666;
    font-size: 16px;
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #d0cfcf;
    display: block;
    font-weight: normal;
    text-decoration: none;
}

#pMenuSublevels #pMenuSublevelsbdy ul li a:before {
    content: "\f105";
    padding: 0 5px 0 0;
    color: #148bce;
    font-family: FontAwesome;
}

#pMenuSublevels #pMenuSublevelsbdy ul li a.active {
    font-weight: bold;
    color: #000000;
}

#pMenuSublevels #pMenuSublevelsbdy ul li #pMenuSublevelsl2 li a {
    padding: 10px 0 10px 20px;
}

#pMenuSublevels #pMenuSublevelsbdy ul li #pMenuSublevelsl2 li #pMenuSublevelsl3 li a {
    padding: 10px 0 10px 30px;
}

#ucMenuNamebdy {
    background: #ffffff;
    padding: 0 15px 0px 10px;
    border: 1px solid #d0cfcf;
    border-bottom: medium none;
    border-top: medium none;
}

#ucMenuNamebdy h1 {
    margin: 0;
    text-align: left;
    line-height: 24px;
    padding: 8px 0 0;
    color: #333333;
    font-size: 24px;
    display: block;
    padding-bottom: 0.5rem;
}

#ucMenuNamebdy.noCMStext {
    border: 1px solid #d0cfcf;
    padding: 0 15px 25px 10px;
    border-top: medium none;
}

#ucMenuCmsbdy {
    border: 1px solid #d0cfcf;
    border-top: medium none;
    padding: 0 15px 25px 10px;
    color: #666666;
    font-size: 16px;
}

#ShopContent .plistAreaHeader > div {
    width: 100%;
    border-left: 1px solid #d0cfcf;
}

#ShopContent .plistAreaHeader > div .prelement {
    width: 33.33%;
    background:#fff;
    text-align: center;
}

.searchContent #ShopContent .plistAreaHeader > div .prelement {
    width: 25%;
}

.searchContent #ucInfoMessagebdy {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    line-height: 77px;
    padding-left: 10px;
    border: 1px solid #d0cfcf;
    border-top: medium none;
}

.plistpager{
  font-size:12px;
  line-height:35px;
  color:#ccc;
}

.plistpager a{
  color:#666;
}

#ShopContent .plistAreaHeader > div .prelement .prmain {
    border-right: 1px solid #d0cfcf;
}

#ShopContent .plistAreaHeader > div .prelement .prbasket {
    border-right: 1px solid #d0cfcf;
    border-bottom: 1px solid #d0cfcf;
    padding: 14px 0;
}

#ShopContent .plistAreaHeader > div .prelement .prbasket .prpri {
    color: #074380;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

#ShopContent .plistAreaHeader > div .prelement .prmain .hlink {
    color: #333333;
    font-size: 18px;
    display: block;
    font-weight: bold;
    padding: 0 0.9375rem 1.2rem;
    text-decoration: none;
    min-height: 48px;
}

#ShopContent .plistAreaHeader > div .prelement .prmain .primg a {
    padding: 0.9375rem;
    display: block;
    vertical-align: middle;
}

#ShopContent .plistAreaHeader > div .prelement .prmain p {
    font-size: 11px;
    color: #666666;
    font-style: italic;
    margin: 0;
}

.prspacer {
    display: none;
}

/*** Customer login Styles ***/

.customerLoginPage {
    background-color: transparent;
    text-align: center;
    width: 100%;
}

.customerLoginBdy > div {
    margin: 20px 52px;
}

.customerLoginBdy {
    width: 430px;
    text-align: left;
    margin: 0 auto;
    background-color: #fff;
    border: solid 1px #d0d0d0;
    box-shadow: 4px 6px 13px -4px #919291;
}

.customerLoginBdy h2 {
    padding: 0;
    margin: 0;
}

#customerLogin table {
    width: 100%;
}

#customerLogin table label {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}

#customerLogin table input {
    width: 100%;
    border: solid 1px #dddddb;
    margin: 3px 0;
    line-height: 24px;
}

#customerLogin table .button {
    text-align: right;
    width: 100%;
    position: relative;
    left: 4px;
}

#customerLogin table input[type="button"] {
    background: #21d83a;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxZDgzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTllMzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #21d83a 0%, #219e31 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#21d83a), color-stop(100%,#219e31));
    background: -webkit-linear-gradient(top, #21d83a 0%,#219e31 100%);
    background: -o-linear-gradient(top, #21d83a 0%,#219e31 100%);
    background: -ms-linear-gradient(top, #21d83a 0%,#219e31 100%);
    background: linear-gradient(to bottom, #21d83a 0%,#219e31 100%);
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px !important;
    width: auto;
    margin-top: 10px;
    cursor: pointer;
}

#customerLogin li {
    text-align: right;
}

#customerLogin li a {
    font-size: 12px;
    color: #666666;
    text-decoration: underline;
    position: relative;
    bottom: 30px;
    right: 105px;
}

#cmsLoginPage h2 {
    font-size: 24px;
    color: #030302;
}

/*** Send login styles ***/

.sendloginPage #ShopContent > table {
    width: 430px;
    text-align: left;
    margin: 0 auto;
    background-color: #fff;
    border: solid 1px #d0d0d0;
    box-shadow: 4px 6px 13px -4px #919291;
}

.sendloginPage #ShopContent > table table {
    margin: 20px;
}

.sendloginPage #ShopContent > table input[type="submit"] {
    background: #21d83a;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxZDgzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTllMzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #21d83a 0%, #219e31 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#21d83a), color-stop(100%,#219e31));
    background: -webkit-linear-gradient(top, #21d83a 0%,#219e31 100%);
    background: -o-linear-gradient(top, #21d83a 0%,#219e31 100%);
    background: -ms-linear-gradient(top, #21d83a 0%,#219e31 100%);
    background: linear-gradient(to bottom, #21d83a 0%,#219e31 100%);
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px !important;
    width: auto;
    cursor: pointer;
    margin: 0px 20px 20px;
}

/*** customer Menu styles ***/

.salespersonMenuInnerBdy {
    text-align: right;
    margin-right: 14px;
}

.salespersonMenuInnerBdy i {
    margin-right: 5px;
}

.salespersonMenuInnerBdy span {
    color: #666666;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
    border-right: solid 1px #e0dfdf;
    margin-right: 15px;
    padding-right: 17px;
}

.salespersonMenuInnerBdy a {
    color: #333333;
    font-size: 14px;
    line-height: 44px !important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-decoration: none;
}

/* Product Details */

.page-product-details{
  background:#fff;
}

.product-details{
  overflow:hidden;
  box-sizing: border-box;
  border:1px solid #d0cfcf;
  border-top:0;
}

.product-image{
  float:left;
  display:block;
  width:40%;
}

.product-image table{
  width:100%;
}

.product-data{
  float:left;
  display:block;
  width:60%;
}

h1.product-title{
  margin-top:0;
  margin-bottom:0.5rem;
  line-height: normal;
  color: #333333;
  text-transform: uppercase;
  font-size: 22px;
}

.product-information{
  padding:0.9375rem;
}

.product-id{

  padding-right: 0.9375rem;
  padding-bottom: 10px;
  color: #999999;
  font-style: italic;
  font-size: 13px;
}

.product-data-wrap{
  min-height:350px;
  border-left:1px solid #d0cfcf;
}

.product-price{
  padding:0 0.9375rem;
}

.price-current{
  color: #047abc;
  font-size: 22px;
  padding: 0;
}

.product-stock{
  font-family: 'Open Sans', sans-serif !important;
  color: #666666;
  font-size: 14px;
  padding-left:0.9375rem;
  text-transform: normal;
  margin-top: 14px;
  margin-bottom: 25px;
}

.product-in-stock:before,
.product-not-in-stock:before{
  font-family:FontAwesome;
  content:'\f111';
  color:#21cc38;
  font-size:11px;
  float:left;
  height:19px;
  line-height:19px;
}

.product-not-in-stock:before{
  color:#c95050;
}

.product-basket{
  padding:0.9375rem;
}

.product-basket img{
  display:none !important;
}
#main #ShopContent .product-basket .ecBB input{
  display: inline-block;
  width: 60px;
  text-align: center;
  color: #666666;
  font-size: 20px;
  height: 48px;
  vertical-align: top;
  margin: 0 3px 0 0;
  margin-bottom: 15px;
  background: #eeeeee;
  border-radius: 5px 5px 5px 5px !important;
  border: 1px solid #d0cfcf;
}

.product-basket-button{
  background-color: #2a2a2a;
  color: #ffffff;
  cursor:pointer;
  font-size: 21px;
  text-transform: uppercase;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.82);
  padding: 0 0.5em;
  display: inline-block;
  height: 52px;
  line-height:52px;
  vertical-align: top;
  text-decoration: none;
  text-align: center;
  margin-bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#21d83a), color-stop(100%,#209f32));
  background: -webkit-linear-gradient(top, #21d83a 0%,#209f32 100%);
  background: -o-linear-gradient(top, #21d83a 0%,#209f32 100%);
  background: -ms-linear-gradient(top, #21d83a 0%,#209f32 100%);
  background: linear-gradient(to bottom, #21d83a 0%,#209f32 100%);
  border-radius:5px;
}

.accordion-navigation > a{
  background-color: #fff;
  display:block;
  color: #666666;
  font-size: 16px;
  text-transform: normal;
  text-decoration: none;
  line-height:38px;
  padding:0 .5rem;
  position: relative;
}

.accordion-navigation > a:hover{
  background:#e3e3e3;
}

.accordion-navigation.active > a:hover{
  background:#fff;
}

.accordion-navigation > a:after{
  font-family:FontAwesome;
  content:'\f105';
  float:right;
}

.accordion-navigation.active > a:after{
  content:'\f107';
}

.accordion li{
  border-top:1px solid #d0cfcf;
}

.accordion-navigation .content{
  display:none;
}


.accordion-navigation.active .content{
  font-family:'Open Sans', sans-serif;
  color:#666;
  display:block;
  padding:10px;
  font-size:14px;
}

/** Related Products **/
.product-related{
  display:none;
  margin-top:10px;
  overflow:hidden;
  clear:both;
}

.product-related.active{
  display:block;
}

.product-related h2{
  margin: 20px 0 5px 15px;
  color: #333333;
  font-size: 30px;
  font-weight:normal;
}

.product-related .prelement{
  border-top:1px solid #d0cfcf
}

/*** Customer dropdown menu styles ***/

.customerMenuBdy {
    position: relative;
}

.customerDropdown {
    background-color: #fff;
    width: 308px;
    position: absolute;
    right: 0;
    z-index: 100;
    border: solid 1px #d0d0d0;
    box-shadow: 4px 6px 13px -4px #919291;
    border-top: medium none;
    padding: 5px;
}

.customerDropdown.active {
    display: block !important;
}

.customerDropdown > a {
    background: #21d83a;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxZDgzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTllMzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #21d83a 0%, #219e31 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#21d83a), color-stop(100%,#219e31));
    background: -webkit-linear-gradient(top, #21d83a 0%,#219e31 100%);
    background: -o-linear-gradient(top, #21d83a 0%,#219e31 100%);
    background: -ms-linear-gradient(top, #21d83a 0%,#219e31 100%);
    background: linear-gradient(to bottom, #21d83a 0%,#219e31 100%);
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    line-height: 34px !important;
    width: 78px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px !important;
    margin-top: 10px;
    cursor: pointer;
}

.customerDropdown > ul {
    text-align: left;
}

.customerDropdown > ul li {
    border-bottom: solid 1px #d0d0d0;
}

.customerDropdown > ul li a {
    color: #242424;
    font-size: 14px;
    line-height: 30px !important;
    position: relative;
    display: inline-block;
    padding-left: 15px;
}

.customerDropdown > ul li a:before {
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    left: 6px;
}


/* Frontpage Slider */

.page-frontpage{
  overflow:hidden;
}

.frontpage-slider{
  display:none;
  overflow:hidden;
  position:relative;
  min-height:360px;
}

.frontpage-slider.slick-initialized{
  display:block;
}
.frontpage-slider li{
  float:left;
  height:360px;
}

.slick-arrow{
  background:url('/images/editor/images/arrow-prev.png') no-repeat center;
  height:100%;
  border:0;
  min-height:66px;
  color:transparent;
  position:absolute;
  z-index:4;
  width:33px;
}

.slick-next.slick-arrow{
  background:url('/images/editor/images/arrow-next.png') no-repeat center;
  right:0;
}

.frontpage-slider img{
  display:none;
}

.frontpage-slider h1 a,
.frontpage-slider h2 a{
  text-decoration:none;
}

.frontpage-slider h1,
.frontpage-slider h2{
  margin:0;
  padding-left:100px;
}

.frontpage-slider h1{
  color:#333;
  padding-top:75px;
  font-size:3rem;
}

.frontpage-slider h2{
  color:#666;
  font-size:2rem;
  font-weight:normal;
}

.frontpage-slider li > a{
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  font-size: 25px;
  font-size: 1.2vw;
  height: 55px;
  line-height: 55px;
  text-decoration:none;
  margin-left:100px;
  margin-top:75px;
  border-radius:5px;
  padding: 0 35px;
  padding: 0 2rem;
  background: #21d73a;
  background: -moz-linear-gradient(top, #21d73a 0%, #20bc36 50%, #20b435 55%, #21a232 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#21d73a), color-stop(50%,#20bc36), color-stop(55%,#20b435), color-stop(100%,#21a232));
  background: -webkit-linear-gradient(top, #21d73a 0%,#20bc36 50%,#20b435 55%,#21a232 100%);
  background: -o-linear-gradient(top, #21d73a 0%,#20bc36 50%,#20b435 55%,#21a232 100%);
  background: -ms-linear-gradient(top, #21d73a 0%,#20bc36 50%,#20b435 55%,#21a232 100%);
  background: linear-gradient(to bottom, #21d73a 0%,#20bc36 50%,#20b435 55%,#21a232 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21d73a', endColorstr='#21a232',GradientType=0 );
}

/* Frontpage Featured */
.frontpage-featured{
  clear:both;
  margin-top:10px;
  overflow:hidden;
}

.frontpage-featured img{
  float:left;
}

.frontpage-featured li{
  float:left;
  overflow:hidden;
  position:relative;
  margin-right:10px;
  width:393px;
}
.frontpage-featured li:last-child{
  margin-right:0;
}

.frontpage-featured a{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background: rgba(33, 72, 109, .5);
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}


/* Frontpage Information */

.frontpage-information{
  margin-top:10px;
}

.frontpage-information li{
  float:left;
  width:299px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  background: #dad9d9;
  background: -moz-linear-gradient(left, #dad9d9 0%, #f3f3f3 50%, #f3f3f3 51%, #f3f3f3 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#dad9d9), color-stop(50%,#f3f3f3), color-stop(51%,#f3f3f3), color-stop(100%,#f3f3f3));
  background: -webkit-linear-gradient(left, #dad9d9 0%,#f3f3f3 50%,#f3f3f3 51%,#f3f3f3 100%);
  background: -o-linear-gradient(left, #dad9d9 0%,#f3f3f3 50%,#f3f3f3 51%,#f3f3f3 100%);
  background: -ms-linear-gradient(left, #dad9d9 0%,#f3f3f3 50%,#f3f3f3 51%,#f3f3f3 100%);
  background: linear-gradient(to right, #dad9d9 0%,#f3f3f3 50%,#f3f3f3 51%,#f3f3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dad9d9', endColorstr='#f3f3f3',GradientType=1 );
  -webkit-box-shadow: -8px 0px 10px 0px rgba(217,217,217,0.73);
  -moz-box-shadow: -8px 0px 10px 0px rgba(217,217,217,0.73);
  box-shadow: -8px 0px 10px 0px rgba(217,217,217,0.73);
  position: relative;
  min-height: 170px;
  overflow: hidden;
  display:block;
  position: relative;
}

.frontpage-information li:first-child{
  width:298px;
  border-left:1px solid #cccccc;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
}

.frontpage-information a{
  display:block;
  height:100%;
}

.frontpage-information img{
  position:absolute;
  top:12px;
  right:-10px;
}

.information-text{
  position:absolute;
  bottom:18px;
  left:20px;
  color: #333333;
  font-size: 1.4em;
  font-size: 22px;
  display: inline-block;
  line-height: 25px;
}

.text-bold{
  font-weight:bold;
}

.line-break{
  display:block;
}


/** Basket **/
.page-basket {
  background:#fff;
  border:1px solid #d0cfcf;
  border-top:0;
  padding:12px 8px;
}

.basket-hidden{
  display:none;
}

.page-basket h1{
  margin-top: 0;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
}

.basket-navigation{
  clear:both;
  overflow:hidden;
  padding:15px 0;
  text-align:right;
}

.basket-navigation.navigation-top{
  padding-top:0;
}

.basket-navigation.navigation-bottom{
  padding-bottom:0;
}

.basket-navigation .basket-back{
  float:left;
}

.basket-content .HeaderBar{
  background:#f3f2f2!important;
  color:#000 !important;
  font-family:Tahoma, Arial, sans-serif !important;
  font-weight:bold !important;
}

.basket-content td{
  padding:5px 10px !important;
}

.basket-content .c1{
  width:87px;
  text-align:center;
}

.basket-content .c3{
  text-align:center;
  width:85px;
}

.basket-content .c5{
  text-align:center;
  width:75px;
}

.basket-content .c5 input{
  height:30px;
  width: 30px!important;
  border: solid 1px #f2f1f1;
  font-size: 15px;
  font-family: Tahoma, Arial, sans-serif;
  color: #504f4f;
  margin: 0 auto;
  padding:0 !important;
  text-align: center;
}

.basket-content .c6,
.basket-content .c8{
  text-align:left !important;
  width:125px;
}

.basket-content a,
.basket-content td{
  color:#333;
  font-family:Tahoma, Arial, sans-serif;
  font-size:12px;
  text-decoration: none;
}

.basket-content tr{
  height:auto!important;
  border-bottom:solid 1px #f1f0f0;
}

.basket-total{
  clear:both;
  float:right;
  padding:0 2em 0 0;
  width:400px;
}
#main #ShopContent #ec38 .ec38TableTotals{
  display:block;
  width:100% !important;
}

.basket-total tr{
  width:400px !important;
}

.basket-total td{
  background:#fff!important;
  border-bottom:solid 1px #dededc !important;
  padding:8px 0;
}

.basket-total tr:last-child td{
  border-bottom:0 !important;
}

.basket-total .c1{
  width:150px!important;
  text-align:left !important;
}

.basket-total .c2{
  padding:0 !important;
  width:250px;
}

.basket-total .ec38Subtotal td {
  font-size:14px !important;
}

.basket-total .ec38Total td {
  font-size:20px !important;
}

/* Checkout */

.page-checkout{
  background:#fff;
  overflow:hidden;
  padding:15px;
}

.page-checkout h2{
  font-size: 18px;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.page-checkout table{
  width:100%;
}

.page-checkout tr td{
  color: #666666 !important;
  font-size: 14px!important;
  height:36px;
  padding-right:15px;
}

.page-checkout tr td:first-child{
  width:30%;
}

.page-checkout td input,
.page-checkout td select{
  border:solid 1px #ccccca;
  box-sizing: border-box;
  font-size:13px;
  padding:0 10px;
  height:30px;
  width:100%;
  border-radius:0!important;
}

.delivery-address-enable{
  font-size:14px;
  height:38px;
  line-height:38px;
}

.column-2{
  float:left;
  width:50%;
}

.payment-method,
.delivery-method{
  clear:both;
  font-size:14px;
  padding-top:15px;
}

.payment-method h2,
.delivery-method h2{
  margin-bottom:0;
}

.checkout-navigation{
  padding:15px 0 0;
}


/** 404 page **/
.page-404{
  border:1px solid #d0cfcf;
  font-size:16px;
  padding:50px 100px 150px;
  text-align:center;
}

.page-404 h2{
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #000000;
  margin: 24px 0 18px 0;
}




/* Misc */

a.button{
  background:#e0e0e0;
  border-radius:5px;
  color:#333;
  display:inline-block;
  font-size:16px;
  font-weight:bold;
  line-height:34px;
  height:34px;
  padding:0 12px;
  text-decoration:none;
  text-transform: uppercase;
}

a.button.empty-basket,
a.button.update-basket{
  background:#fff;
  color:#787878;
  font-size:13px;
  font-weight:normal;
  text-transform: uppercase;
}

a.button.empty-basket:before,
a.button.update-basket:before{
  font-family:FontAwesome;
  content:'\f00d';
  color:#d1542e;
  font-size:16px;
  float:left;
  height:34px;
  line-height:34px;
  padding-right:5px;
}
a.button.update-basket:before{
  content:'\f021';
  color:#333;
}

a.button.empty-basket:hover,
a.button.update-basket:hover{
  color:#333;
}

a.button.basket-forward,
a.button.btn-green{
  background: #21d83a;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #21d83a 0%, #219e31 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#21d83a), color-stop(100%,#219e31));
    background: -webkit-linear-gradient(top, #21d83a 0%,#219e31 100%);
    background: -o-linear-gradient(top, #21d83a 0%,#219e31 100%);
    background: -ms-linear-gradient(top, #21d83a 0%,#219e31 100%);
    background: linear-gradient(to bottom, #21d83a 0%,#219e31 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px !important;
    text-transform: uppercase;
}

a.button.btn-green{
  height:64px;
  line-height:64px;
  text-align:center;
  width:220px;
}

.hidden{
  display:none;
}
